body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";color: #251A25;font-size:16px;margin:2em auto;max-width:800px;padding:1em;line-height:1.4;text-align:justify;-webkit-hyphens:auto;-ms-hyphens:auto;hyphens:auto
}
